*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    --grey-500: #4D3F62;
    --grey-400: #6A7178;
    --red: #EA5454;
    --cyan: #44D3D2;
    --blue: #549EF2;
    --orange: #FCAE4A;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    min-height: 100vh;
    color: var(--grey-500);
    background-color: white;
}

.container {
    width: 84%;
    margin: 0 auto;
    align-items: center;
    max-width: 1100px;
}

.intro {
    margin-block: 3.75em;
    text-align: center;
}

.intro-heading {
    margin-block: 1em;
}

.text-preset-1 {
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 1.4;
  font-size: 1.5rem;
}

.text-preset-2 {
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

.text-preset-3 {
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0px;
    font-size: 1.25rem;
}

.text-preset-4 {
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0px;
    font-size: 0.9375rem;
}

.text-preset-5 {
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 1.6;
    letter-spacing: 0px;
    color: var(--grey-400);
}

.cyan-top-border {
    border-top: 0.25em solid var(--cyan);
    grid-area: supervisor;
}

.red-top-border {
    border-top: 0.25em solid var(--red);
    grid-area: team;
}

.orange-top-border {
    border-top: 0.25em solid var(--orange);
    grid-area: karma;
}

.blue-top-border {
    border-top: 0.25em solid var(--blue);
    grid-area: calculator;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 4px rgba(131, 166, 210, 0.5);
    padding: 2em;
    width: 19.625em;
    height: 15.625em;
}

.card-header {
    margin-block: 0.375em;
}

.card-icon {
    align-self: flex-end;
    max-width: 64px;
}

.card-container  {
    display: grid;
    gap: 2em;
    justify-content: center;
    margin-bottom: 2em;
    grid-template-areas:
    "supervisor"
    "team"
    "karma"
    "calculator";
}

@media (768px <= width < 1200px) {
    .card-container {
        display: grid;
        grid-template-areas: 
        ". team team ."
        "supervisor supervisor karma karma"
        ". calculator calculator .";
    }
    .text-preset-1 {
        font-size: 2.25rem;
    }

    .text-preset-2 {
        font-size: 2.25rem;
    }

    .intro {
        margin-block: 4.625em;
    }

    .row {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .card-container {
        justify-content: center;
        margin: 0em auto auto auto;
        grid-template-areas: 
        ". team ."
        "supervisor team calculator"
        "supervisor karma calculator"
        ". karma .";
    }

    .card {
        width: 21.875em;
        height: 15.625em;
    }
}